.nav {
    /*position: fixed;*/
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    position: sticky;
    top: 0;
    /* padding: 20px; */
    /* width: 100%; */
    /* height: 10vh; */
    z-index: 1;
   
    /*Animaciones*/
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav_black {
    background-color: black;
    opacity: 0.5;
}

.nav_contents {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    height: 10vh;
    width: 100%;
    /* background-color: red; */
}

.nav_logo {
    /* /*position: fixed; */
    /* top: 0;
    left: 20px;
    width: 80px;
    object-fit: contain;
    padding-left: 20px; */
    /* height: 80%; */
    position: absolute;
    width: 10%;
    cursor: pointer;
    margin-left: 20px;
}

.nav_avatar {
    position: absolute;
    right: 10px;
    top:17px;
    width: 3%;
    cursor: pointer;
    margin-right: 20px;
}