.rows{
  margin:2% 0;
}

.rows__title{
  margin: 2% 1%;
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#fff;
}

.rows__posters{
  display: flex;
  padding: 0 1% ;
  overflow-y: hidden;
  overflow-x: hidden;
}

.rows__arrows{
  position: absolute;
  height: 10%;
  align-self: center;
  z-index: 1;
  cursor: pointer;
  transition: transform 450ms;
  -webkit-transition: transform 450ms;
  -moz-transition: transform 450ms;
  -ms-transition: transform 450ms;
  -o-transition: transform 450ms;
  opacity: 0.7;
}

.rows__arrows:hover{
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.left{
  left:1px;
}

.right{
  right: 1px;
}

.rows__poster{
  margin: 0 1%;
}

.rows__poster__img{
  width: 200px;
  transition: transform 450ms;
  -webkit-transition: transform 450ms;
  -moz-transition: transform 450ms;
  -ms-transition: transform 450ms;
  -o-transition: transform 450ms;
}

.rows__poster__img:hover{
  cursor: pointer;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  opacity: 0.9;
}

